/********
Tabella Colori 
*********/

:root {
--Body : rgba(255, 255, 255, 0);
--HeaderBody : rgb(3, 128, 245);      
}


/* Regola Generale
**********/

* {
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

/********
Commons
***********/

/* Regola Row e clearfix */

.row {
    width: 100%;
    height: 520px;
    position: absolute;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;  
}

body {
    background-color: var(--Body);
    width: 100vw;
    margin: 0 auto;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/******
Header e tutto il suo correlato 
*********/

#site_header {
    position: relative;
    width:100%;
    height: 550px;
    background-size: cover;
}

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Header {
    width: 1200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.logo {
    width: 100px;
    position: absolute;
    top: 20px;
    left:0;
}

/* classe per la navbar  */

.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    width: max-content;
    height: 30px;
    line-height: 30px;
    transform: translate(-50%);
}

.navbar a{
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    padding-left:15px;
    padding-right: 15px;
}

/* tutte le classi dei bottoni header 
*********/

.btn {
    position: absolute;
    top: 20px;
    right: 0%;
    height: 30px;
    line-height: 30px;
}

.btn_style {
    border-radius: 15px;
    font-size: 0.7rem;
    padding-left: 12px;
    padding-right: 12px;
    color: black;
    border: 0 solid white;
    background-color: white;
}

.btn_dwnl {
    position: absolute;
    top: 105%;
    left: 20%;
    height: 45px;
}

.btn_open {
    position: absolute;
    top: 105%;
    right: 17%;
    height: 45px;
}

.btn_dwnl_style {
    border-radius: 25px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border: 0 solid white;
    background-color: white;
}

.btn_open_style {
    border-radius: 25px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: 0 solid black;
    background-color: black;
}

.Text_Head p { 
    padding-bottom: 15px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.75rem;
    color: white;
    font-size: 1rem;
}

.Text_Head h2 {
    padding-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.Text_Head {
    position: absolute;
    width: 700px;
    height: max-content;   
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/******
Main e tutto il suo correlato 
*********/

/* Sezione Study */

.Study {
    margin: auto;
    position: relative;
    width: 1200px;
    height: 550px;
    margin-bottom: 5%;
}
/* Colonna da 60% con sua immagine */

.lg_60 img {
    position: absolute;
    width: 80%;
    background-repeat: no-repeat;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);   
}

.lg_60 {
    position: relative;
    float: left;
    height: 100%;
    width: 60%;
}

/* Colonna da 40% */

.lg_40 {
    position: relative;
    float: left;
    height: 100%;
    width: 40%;
}

.Text_Study {
    top: 50%;
    left: 25%;
    position: absolute;
    width: 60%;
    height: max-content;
    transform: translate(-25%,-43%);
}

.Text_Study h2 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.Text_Study p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Sezione Trovarsi */

.Find {
    margin: auto;
    position: relative;
    width: 1200px;
    height: 550px;
    margin-bottom: 7%;
}

.lg_60_find {
    position: relative;
    float: left;
    height: 100%;
    width: 60%;
}

.lg_60_find img {
    position: absolute;
    width: 80%;
    background-repeat: no-repeat;
    object-fit: contain;
    left: 40%;
    top: 50%;
    transform: translate(-50% , -50%);   
}

.Text_Find {
    top: 32%;
    left: 20%;
    position: absolute;
    width: 60%;
    height: max-content;
    transform: translate(0%,-35%);
}

.Text_Find h2 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.Text_Find p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Sezione Fandom */

.Fandom {
    margin: auto;
    position: relative;
    width: 1200px;
    height: 550px;
    margin-bottom: 7%;
}

.Text_Fandom {
    top: 35%;
    left: 10%;
    position: absolute;
    width: 60%;
    height: max-content;
    transform: translate(0%,-35%);
}

.Text_Fandom h2 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.Text_Fandom p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/******
Footer e tutto il suo correlato 
*********/