/********
Tabella Colori 
*********/

:root {
--Body : rgba(255, 255, 255, 0);
--HeaderBody : rgb(3, 128, 245);      
}


/* Regola Generale
**********/

* {
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

/********
Commons
***********/

body {
    background-color: var(--Body);
    width: 2000px;
    margin: 0 auto;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/******
Header e tutto il suo correlato 
*********/

#site_header {
    position: relative;
    width:100%;
    height: 500px;
}

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Header {
    width: 1500px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 12%;
    background-color: rgba(255, 255, 255,0.3);
}

.logo {
    width: 125px;
    position: absolute;
    top: 20px;
    left:50px;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    width: max-content;
    height: 30px;
    line-height: 30px;
    transform: translate(-50%);
}

.navbar a {
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    padding-left:15px;
    padding-right: 15px;
}

/******
Main e tutto il suo correlato 
*********/


/******
Footer e tutto il suo correlato 
*********/